@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

.bgBook {
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.main {
  position: absolute;
  z-index: 1;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
  z-index: 3;
  pointer-events: none;
}

.positionArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 202.4661893397vh; /* 根據螢幕高度調整寬度 */
  height: 100vh; /* 高度為螢幕高度 */
  overflow: hidden;
  z-index: 400;
}

.parallax-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.main_container {
  position: relative;
}

.main_container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.1s ease-out;
}

.main_container .img_hover {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.main_container .scroll {
  opacity: 0;
  transition: opacity 1.2s ease-out;
  transition-delay: 0.2s;
  animation: bounceScroll 3s ease-in-out infinite; /* 上下浮動動畫 */
  position: absolute;
  z-index: 1000;
}

.about_scroll {
  transition-delay: 0.35s !important;
}

.main_container .magic {
  opacity: 0;
  position: absolute;
  z-index: 920;
  width: 100%;
  height: 100vh;
  transition: opacity 0.6s ease-out;
}

.main_container .magic img {
  position: absolute;
  animation-fill-mode: forwards;
}

.magic .about_magic1 {
  animation: magicCycle 9s infinite;
}

.magic .about_magic2 {
  animation: magicCycle 9s infinite 2.2s;
}

.magic .about_magic3 {
  animation: magicCycle 9s infinite 5.7s;
}

@keyframes magicCycle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.parallax-wrapper .skyCity {
  animation: bounce 4s ease-in-out infinite; /* 上下浮動動畫 */
  position: absolute;
  z-index: 500;
}

/* 上下浮動的 keyframes 動畫 */
@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) translateY(0) scale(0.97); /* 初始位置，保持置中 */
  }
  50% {
    transform: translate(-50%, -50%) translateY(-6px) scale(0.98); /* 上移 10px */
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) scale(0.97); /* 返回初始位置 */
  }
}
@keyframes bounceScroll {
  0% {
    transform: translate(-50%, -50%) translateY(-13px) scale(0.97); /* 初始位置，保持置中 */
  }
  50% {
    transform: translate(-50%, -50%) translateY(0) scale(0.98); /* 上移 10px */
  }
  100% {
    transform: translate(-50%, -50%) translateY(-13px) scale(0.97); /* 返回初始位置 */
  }
}
.parallax-wrapper .cloud_left {
  animation: moveCloud 4s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes moveCloud {
  0% {
    transform: translate(-50%, -50%) translate(0px, -3px); /* 開始時向左偏移 */
  }
  50% {
    transform: translate(-50%, -50%) translate(6px, 1px); /* 移動到右邊 */
  }
  100% {
    transform: translate(-50%, -50%) translate(0px, -3px); /* 返回到左邊 */
  }
}
.parallax-wrapper .cloud_right {
  animation: moveCloud2 3.7s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes moveCloud2 {
  0% {
    transform: translate(-50%, -50%) translate(-3px, 3px); /* 開始時向左偏移 */
  }
  50% {
    transform: translate(-50%, -50%) translate(3px, -1px); /* 移動到右邊 */
  }
  100% {
    transform: translate(-50%, -50%) translate(-3px, 3px); /* 返回到左邊 */
  }
}
.parallax-wrapper .sky {
  animation: bounceSky 6s ease-in-out infinite; /* 上下浮動動畫 */
}

/* 上下浮動的 keyframes 動畫 */
@keyframes bounceSky {
  0% {
    transform: translate(-50%, -50%) translateY(-15px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-15px);
  }
}
.parallax-wrapper .base {
  animation: scaleBase 8s ease-in-out infinite; /* 設定放大縮小的動畫 */
}

/* 定義放大縮小的動畫 */
@keyframes scaleBase {
  0% {
    transform: translate(-50%, -50%) scale(1); /* 初始狀態，原始大小 */
  }
  50% {
    transform: translate(-50%, -50%) scale(1.017); /* 中間狀態，放大 */
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* 結束狀態，回到原始大小 */
  }
}
.parallax-wrapper .pillar_left {
  animation: movePillar 8s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes movePillar {
  0% {
    transform: translate(-50%, -50%) translateX(-1px) scale(1.07);
  }
  50% {
    transform: translate(-50%, -50%) translateX(4px) scale(1.07);
  }
  100% {
    transform: translate(-50%, -50%) translateX(-1px) scale(1.07);
  }
}
.parallax-wrapper .pillar_right {
  animation: movePillar2 8s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes movePillar2 {
  0% {
    transform: translate(-50%, -50%) translateX(1px) scale(1.07);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-4px) scale(1.07);
  }
  100% {
    transform: translate(-50%, -50%) translateX(1px) scale(1.07);
  }
}
.parallax-wrapper .book,
.parallax-wrapper .boy,
.parallax-wrapper .lamp,
.parallax-wrapper .platform {
  animation: bouncePlatform 8s ease-in-out infinite; /* 上下浮動動畫 */
}

/* 上下浮動的 keyframes 動畫 */
@keyframes bouncePlatform {
  0% {
    transform: translate(-50%, -50%) translateY(0px) scale(1.07);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-2px) scale(1.07);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0px) scale(1.07);
  }
}
/*--------- hover area  -----------*/
.hoverAreaSkyCity {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 16.5vw;
  height: 40vh;
  top: 10%;
  left: 42%;
}

.hoverAreaSkyCity:hover + .skyCity {
  opacity: 1;
}

.hoverAreaSkyCity:hover + .skyCity ~ .storyBooks_scroll {
  opacity: 1;
}

.hoverAreaBoy1 {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 9vw;
  height: 40vh;
  bottom: 5%;
  left: 45%;
}

.hoverAreaBoy2 {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 30vw;
  height: 20vh;
  bottom: 3%;
  left: 30%;
}

.hoverAreaBoy:hover + .boy {
  opacity: 1;
}

.hoverAreaBoy:hover + .boy ~ .myCabin_scroll {
  opacity: 1;
}

.hoverAreaLamp {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 9vw;
  height: 30vh;
  bottom: 5%;
  left: 18.6%;
}

.hoverAreaLamp:hover + .lamp {
  opacity: 1;
}

.hoverAreaLamp:hover + .lamp ~ .lamp_night {
  opacity: 1;
}

.hoverAreaBook {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 26vw;
  height: 22vh;
  bottom: 3%;
  right: 13%;
}

.hoverAreaBook:hover + .book {
  opacity: 1;
}

.hoverAreaBook:hover + .book ~ .about_scroll {
  opacity: 1;
}

.hoverAreaBook:hover ~ .book ~ .magic {
  opacity: 1;
}

/* -----------------HoverArea RWD------------------ */
@media (max-width: 1200px) {
  .hoverAreaSkyCity {
    width: 22vw;
    height: 40vh;
    left: 41.5%;
  }
  .hoverAreaBoy1 {
    width: 11vw;
    left: 46%;
  }
  .hoverAreaBoy2 {
    width: 38vw;
    left: 31%;
  }
  .hoverAreaLamp {
    width: 11vw;
    left: 18.3%;
  }
  .hoverAreaBook {
    width: 32vw;
  }
}
/* @media (max-width: 768px) {
    .hoverAreaSkyCity {
      width: 25vw;
      height: 40vh;
    }
  } */
/* ============================夜晚=============================== */
.parallax-wrapper .left_castle {
  animation: movecastle 4s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes movecastle {
  0% {
    transform: translate(-50%, -50%) translate(2px, 5px) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) translate(2px, 5px) scale(1.004);
  }
  100% {
    transform: translate(-50%, -50%) translate(2px, 5px) scale(1);
  }
}
.parallax-wrapper .right_castle {
  animation: movecastle2 4s ease-in-out infinite; /* 設定左右移動動畫 */
}

@keyframes movecastle2 {
  0% {
    transform: translate(-50%, -50%) translate(2px, 4px) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) translate(2px, 4px) scale(1.008);
  }
  100% {
    transform: translate(-50%, -50%) translate(2px, 4px) scale(1);
  }
}
.parallax-wrapper .sky_night {
  animation: bounceSky_night 9s ease-in-out infinite;
}

@keyframes bounceSky_night {
  0% {
    transform: translate(-50%, -50%) translateY(5px) scale(1.025);
  }
  50% {
    transform: translate(-50%, -50%) translateY(10px) scale(1.025);
  }
  100% {
    transform: translate(-50%, -50%) translateY(5px) scale(1.025);
  }
}
.parallax-wrapper .sky_night_plantent {
  animation: bounceSky_night_plantent 4s ease-in-out infinite;
}

@keyframes bounceSky_night_plantent {
  0% {
    transform: translate(-50%, -50%) translateY(6px) scale(1.025);
  }
  50% {
    transform: translate(-50%, -50%) translateY(13px) scale(1.025);
  }
  100% {
    transform: translate(-50%, -50%) translateY(6px) scale(1.025);
  }
}
.parallax-wrapper .sky_night_star {
  animation: bounceSky_night_star 4.5s ease-in-out infinite;
}

@keyframes bounceSky_night_star {
  0% {
    transform: translate(-50%, -50%) translateY(13px) scale(1.025);
  }
  50% {
    transform: translate(-50%, -50%) translateY(7px) scale(1.025);
  }
  100% {
    transform: translate(-50%, -50%) translateY(13px) scale(1.025);
  }
}
.parallax-wrapper .sky_night_moon {
  animation: bounceSky_night_moon 7.5s ease-in-out infinite;
}

@keyframes bounceSky_night_moon {
  0% {
    transform: translate(-50%, -50%) translateY(3px) scale(1.015);
  }
  50% {
    transform: translate(-50%, -50%) translateY(10px) scale(1.025);
  }
  100% {
    transform: translate(-50%, -50%) translateY(3px) scale(1.015);
  }
}
.hoverAreaLeftCastle {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 17vw;
  height: 30vh;
  top: 28%;
  left: 29.5%;
}

.hoverAreaLeftCastle:hover + .left_castle {
  opacity: 1;
}

.hoverAreaLeftCastle:hover + .left_castle ~ .creationCenter_scroll {
  opacity: 1;
}

.hoverAreaRightCastle {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 19vw;
  height: 40vh;
  top: 40%;
  right: 28.5%;
}

.hoverAreaRightCastle:hover + .right_castle {
  opacity: 1;
}

.hoverAreaRightCastle:hover + .right_castle ~ .memberCenter_scroll {
  opacity: 1;
}

/* -----------------HoverArea RWD------------------ */
@media (max-width: 1200px) {
  .hoverAreaLeftCastle {
    width: 21vw;
    left: 31%;
  }
  .hoverAreaRightCastle {
    width: 24vw;
    right: 30%;
  }
}
.dayTransferVideo,
.nightTransferVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 200;
}

.about {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  border: yellow solid 4px;
}
.about .content {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  border: blue solid 4px;
}
.about .content .leftContent {
  border: lightgreen solid 4px;
  padding: 30px;
  height: 100vh;
  display: flex;
}
.about .content .leftContent .contentBox {
  width: 373px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .content .leftContent .contentBox .slogon {
  border: red solid 2px;
  color: white;
}
.about .content .leftContent .contentBox .slogon h1 {
  color: #fff;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
  font-family: Aleo;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 80px */
  text-transform: uppercase;
}
.about .content .leftContent .contentBox .slogon h2 {
  color: #fff;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
  font-family: Aleo;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  text-transform: uppercase;
}
.about .content .leftContent .contentBox .slogon h6 {
  color: #fff;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
  font-family: Aleo;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about .content .leftContent .contentBox .menu {
  border: lightgoldenrodyellow solid 2px;
  margin-top: auto;
}
.about .content .leftContent .contentBox .menu button {
  color: white;
  color: #fff;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  font-family: "Fanwood Text";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
.about .content .rightContent {
  border: lightgreen solid 4px;
  height: 100vh;
  padding: 30px;
}
.about .content .rightContent .aboutContents {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: red solid 2px;
  width: 370px;
  height: 538px;
}
.about .content .rightContent .aboutContents .aboutUsContent {
  position: absolute;
  width: 370px;
  height: 538px;
  z-index: 1;
  border: blueviolet solid 2px;
}
.about .content .rightContent .aboutContents .aboutUsContent h3 {
  padding: 10px 0px 10px 15px;
  color: #fff;
  font-family: "Fanwood Text";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
.about .content .rightContent .aboutContents .aboutUsContent p,
.about .content .rightContent .aboutContents .aboutUsContent li {
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  font-family: "Fanwood Text";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}
.about .content .rightContent .aboutContents .aboutUsContent p {
  padding: 0 15px 15px 15px;
}
.about .content .rightContent .aboutContents .aboutUsContent li {
  padding: 3px 15px 15px 3px;
}
.about .content .rightContent .aboutContents .aboutUsContent ul {
  padding-left: 35px;
  padding-right: 5px;
}
.about .content .rightContent .aboutContents .bgBlack {
  width: 370px;
  height: 538px;
  position: absolute;
  border-radius: 26px;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(6px);
}
.about .aboutUsImg {
  max-width: 1440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=index.css.map */